@page "/"

@using Syncfusion.Blazor.Navigations
@using FitnessTracker.Data
@inject IJSRuntime JSRuntime;
@inject FitnessService SampleService;

@if (IsInitialized)
{
    @if (SampleService.IsSmallDevice)
    {
        <div class="e-tab-header-mobile-icon-container">
            <div class="e-tab-header-icon-div">
                <span class="e-tab-header-icon icon-Logo"></span>
            </div>
            <h1 class="e-tab-title">GO<span>FIT</span></h1
        </div>
        <div class="separator-div"></div>
    }
    <SfTab ID="fitness-tab" Height="auto" CssClass="tab-container" HeaderPlacement="@HeaderPlacement" @bind-SelectedItem="@tabSelectedItem">
        <TabEvents Created="@Created" Selecting="TabSelecting"></TabEvents>
        <TabAnimationSettings>
            <TabAnimationPrevious Effect="AnimationEffect.None"></TabAnimationPrevious>
            <TabAnimationNext Effect="AnimationEffect.None"></TabAnimationNext>
        </TabAnimationSettings>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="ACTIVITIES" IconCss="icon-Activities" IconPosition="top"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Activities @ref="activitiesTabRef"></Activities>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="DIET" IconCss="icon-Diet" IconPosition="top"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Diet @ref="@dietTabRef"></Diet>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="FASTING" IconCss="icon-Fasting" IconPosition="top"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Fasting @ref="fastingTabRef"></Fasting>
                </ContentTemplate>
            </TabItem>
            @if (SampleService.IsSmallDevice)
            {
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="PROFILE" IconCss="icon-Profile" IconPosition="top"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <div class="e-dashboardlayout-container  e-profile-dashboardlayout-container">
                            <div class="col-md-12 col-sm-12 e-profile-panel">
                                <div id="profile-panel-id" class="e-panel e-profile-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="1">
                                    <div class="e-panel-container">
                                        <Profile></Profile>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </TabItem>
            }
        </TabItems>
    </SfTab>

    <ProfileDialog />

    <svg style="height: 0">
        <defs>
            <linearGradient id="gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="gradient-activity-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="gradient-diet-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
        </defs>
    </svg>
}
    <div class="footer">
        <div class="footer-container">
            <div class="footer-icon">
                <img class="footer-logo" src="css/FitnessTracker.svg" alt="Fitness tracker icon" />
            </div>
            <div class="footer-content">
                <div class="title">
                    <span>Want an interactive fitness tracker in your app?</span>
                    <span><strong> Try our Fitness Tracker showcase sample</strong> — build, connect, and customize!</span>
                </div>
                <div class="buttons">
                    <a href="https://www.syncfusion.com/downloads/blazor?tag=es-seo-blazor-demos-static-menu-trial" target="_blank" class="e-trial-btn e-btn" title="Free Trial Button" role="button"></a>
                    <a href="https://www.syncfusion.com/request-demo?tag=blazor-server-fitness-tracker-showcase" target="_blank" class="e-demo-btn e-btn" title="Request Demo Button">Request Demo</a>
                </div>
            </div>
        </div>
    </div>
    <style>

        .footer {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90.4deg, #154db9 0.03%, #081b3f 11.56%, #081b3f 85.56%, #154db9 99.97%);
            border: 1px solid #D8DEE9;
            z-index: 1000;
            padding: 16px;
            width: 100%;
        }

        .footer-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .footer-logo {
            width: 38px;
            height: 38px;
        }

        .footer-icon {
            display: flex;
            gap: 10px;
            flex: 0 0 auto;
            width: 38px;
            height: 38px;
            align-items:center;
        }

        .footer-content .title span {
            font-weight: 400;
            font-size: 16px;
            color: #e1e3e7;
        }

        @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
            .footer-content .title {
                display: flex;
                flex-direction: column;
                color: white;
            }
        }

        @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
            .footer-content .title span, .footer-content .title span .main-title {
                font-size: 14px;
            }
        }

        .footer-content .buttons {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .footer-content .e-trial-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            background: #FFF30F;
            color: #0F172A;
            border: transparent;
            border-radius: 8px;
            padding: 10px 16px;
            font-weight: 700;
            font-family: sans-serif;
        }

        .footer-content .e-demo-btn {
            background-color: transparent;
            border: transparent;
            color: white;
            border-radius: 6px;
            padding: 10px 16px;
            font-weight: 500;
        }

        .footer-content .e-trial-btn::before {
            content: 'Start Free Trial';
            font-family: sans-serif;
        }

        .footer-content .e-trial-btn::after {
            content: '\e773';
            font-family: 'e-icons';
            transform: rotate(180deg);
        }

        .footer-content .e-demo-btn:hover {
            background-color: #173D87;
        }

        @@media screen and (max-device-width: 730px) {
            .footer {
                height: 90px;
            }

            .footer-content .buttons .e-demo-btn {
                display: none;
            }

            .footer-content .buttons .e-trial-btn::before {
                content: 'Free Trial';
            }

            .footer-content .buttons .e-trial-btn::after {
                display: none;
            }
        }

        @@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
            .footer-content .title span:last-child {
                display: none;
            }
        }
    </style>

@code{
    [Parameter]
    public bool IsInitialized { get; set; }
    private bool isRendered { get; set; }
    private Activities? activitiesTabRef { get; set; }
    private Diet? dietTabRef { get; set; }
    private Fasting? fastingTabRef { get; set; }
    private int tabSelectedItem { get; set; } = 0;
    internal HeaderPosition HeaderPlacement { get; set; }

    private async Task Created()
    {
        await JSRuntime.InvokeVoidAsync("blazorFitnessTracker.renderTabChild");
        await Task.Yield();
        isRendered = true;
    }

    private void TabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    internal void UpdateActiveTab(bool isRefreshProps = true)
    {
        if (tabSelectedItem == 0)
        {
            activitiesTabRef?.CallStateHasChanged();
        }
        else if (tabSelectedItem == 1)
        {
            dietTabRef?.CallStateHasChanged();
        }
        else if (tabSelectedItem == 2)
        {
            fastingTabRef?.CallStateHasChanged(isRefreshProps);
        }
        SampleService.ProfileTabRef?.StateChanged();
    }

    internal void CallStateHasChanged()
    {
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SampleService.TabRef = this;
        SampleService.MasterData = new List<FitnessService>();
        DateTime currentDate = DateTime.Now;
        if (currentDate.Hour >= 18)
        {
            SampleService.FastingData.CountStartDate = currentDate.Date.Add(new TimeSpan(18, 0, 0));
            SampleService.FastingData.CountDownDate = currentDate.Date.Add(new TimeSpan(SampleService.FastingData.CountStartDate.Hour + 16, 0, 0));
        }
        else
        {
            SampleService.FastingData.CountStartDate = currentDate.Date.AddDays(-1).Add(new TimeSpan(18, 0, 0));
            SampleService.FastingData.CountDownDate = SampleService.FastingData.CountStartDate.AddHours(16);
        }
        SampleService.ProfileStats = FitnessService.GetProfileStats();
        SampleService.DietData.CurrentBreakFastTime = currentDate.Date.Add(new TimeSpan(8, 30, 0));
        SampleService.DietData.CurrentSnack1Time = currentDate.Date.Add(new TimeSpan(11, 0, 0));
        SampleService.DietData.CurrentLunchTime = currentDate.Date.Add(new TimeSpan(13, 0, 0));
        SampleService.DietData.CurrentSnack2Time = currentDate.Date.Add(new TimeSpan(16, 30, 0));
        SampleService.DietData.CurrentDinnerTime = currentDate.Date.Add(new TimeSpan(20, 0, 0));
        SampleService.InitializeData();
        SampleService.UpdateConsumedCalories();
        SampleService.GetInitialData();
    }
}